<!-- TO-DO: Make sidebar automatic, not hardcoded -->

<div class="sidebar-inner" data-spy="affix" data-offset-top="0">
	<ul class="nav nav-pills nav-stacked">
		<li {% if page.tag == 'sitemap' %}class="active"{% endif %}><a href="{{site.baseurl}}index.html">Sitemap</a></li>
		<li {% if page.tag == 'homescreen' %}class="active"{% endif %}><a href="{{site.baseurl}}home_screen.html">Home Screen</a></li>
		<li {% if page.tag == 'tabprofile' %}class="active"{% endif %}><a href="{{site.baseurl}}tab_profile.html">My Profile</a></li>
		<li {% if page.tag == 'tabcheckin' %}class="active"{% endif %}><a href="{{site.baseurl}}tab_checkin.html">Checkin</a></li>
		<li {% if page.tag == 'tablists' %}class="active"{% endif %}><a href="{{site.baseurl}}tab_lists.html">My Lists</a></li>
		<li {% if page.tag == 'checkin' %}class="active"{% endif %}><a href="{{site.baseurl}}view_checkin.html">View Checkin</a></li>
		<li {% if page.tag == 'place' %}class="active"{% endif %}><a href="{{site.baseurl}}view_place.html">View Place</a></li>
		<li {% if page.tag == 'profile' %}class="active"{% endif %}><a href="{{site.baseurl}}view_profile.html">View Profile</a></li>
	</ul>
</div>