<!-- TO-DO: Make sidebar automatic, not hardcoded -->

<div class="col-xs-2 col-xs-offset-1 sidebar-module">

	<ul class="nav nav-pills nav-stacked">
		<li {% if page.tag == 'sitemap' %}class="active"{% endif %}><a href="/screens/index.html">Sitemap</a></li>
		<li {% if page.tag == 'homescreen' %}class="active"{% endif %}><a href="/screens/home_screen.html">Home Screen</a></li>
		<li {% if page.tag == 'tabprofile' %}class="active"{% endif %}><a href="/screens/tab_profile.html">Tab Bar - My Profile</a></li>
		<li {% if page.tag == 'tabcheckin' %}class="active"{% endif %}><a href="/screens/tab_checkin.html">Tab Bar - Checkin</a></li>
		<li {% if page.tag == 'tablists' %}class="active"{% endif %}><a href="/screens/tab_lists.html">Tab Bar - My Lists</a></li>
		<li {% if page.tag == 'checkin' %}class="active"{% endif %}><a href="/screens/view_checkin.html">View a Checkin</a></li>
		<li {% if page.tag == 'place' %}class="active"{% endif %}><a href="/screens/view_place.html">View a Place</a></li>
		<li {% if page.tag == 'profile' %}class="active"{% endif %}><a href="/screens/view_profile.html">View a Profile</a></li>
	</ul>

</div>

